---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/link/http:%2F%2Fwww.iana.org%2Fnumbers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7dfe4d9eed07ad2ec06fffb55895e93b"'
    body:
      encoding: UTF-8
      string: '{"id":2642376,"source":"API","source_contact_id":0,"url":"http://www.iana.org/numbers","domain":"iana.org","title":"IANA
        \u2014 Number Resources","news_source":"Internet Assigned Numbers Authority","summary":null,"created_at":"2014-08-14T11:01:50Z","updated_at":"2014-08-14T11:01:50Z","publication_date":null,"version":"v1"}'
  recorded_at: Thu, 14 Aug 2014 11:01:50 GMT
recorded_with: VCR 2.9.2
