---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/name/Derek%20Jones%20III.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"35cd248dfd59f6150cb71b1fbc24e9f1"'
    body:
      encoding: UTF-8
      string: '{"contacts":[{"id":11942383,"updated_at":"2014-06-12T10:16:15Z","source":"fsa","name":"Derek
        Jones","source_slug":"282759","canonical_slug":"derek-jones","website":null,"source_id":282759,"last_fetched":"2014-06-12T10:16:12Z","source_created_at":null,"source_updated_at":null,"contact_type":"person","source_namespace":"indiv","page_link":"http://www.fsa.gov.uk/register/indivBasicDetails.do?sid=282759","api_link":"/indivBasicDetails.do?sid=282759","description":null,"name_is_common_phrase":false,"levenshtein_distance":0,"source_priority":6,"identities":[{"description":"Derek
        Jones","service":"fsa","slug":"dxj00029","updated_at":"2014-06-07T14:29:30Z","url":"http://www.fsa.gov.uk/register//indivbasicdetails.do?sid=282759"},{"description":"Derek
        Jones","service":"avatar","slug":null,"updated_at":"2013-12-12T07:28:47Z","url":null}],"relationships":[],"funding_rounds":[],"links":[]},{"id":11942385,"updated_at":"2014-06-12T10:16:19Z","source":"fsa","name":"Derek
        John Jones","source_slug":"360573","canonical_slug":"derek-jones","website":null,"source_id":360573,"last_fetched":"2014-06-12T10:16:17Z","source_created_at":null,"source_updated_at":null,"contact_type":"person","source_namespace":"indiv","page_link":"http://www.fsa.gov.uk/register/indivBasicDetails.do?sid=360573","api_link":"/indivBasicDetails.do?sid=360573","description":null,"name_is_common_phrase":fal[...]
- request:
    method: get
    uri: http://public.xenapto.com/name/XXXXXXXXXX%20%3F.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dfc3ae65d751e2a767eeafc22ea049a1"'
    body:
      encoding: UTF-8
      string: '{"contacts":[],"name":"Not found","slug":"xxxxxxxxxx","count":0,"version":"v1"}'
  recorded_at: Thu, 14 Aug 2014 11:01:50 GMT
- request:
    method: get
    uri: http://public.xenapto.com/name/Derek%20Jones%20III.json?contact_type=person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"49d18f6af06ace2bcb7fa2dc8477327d"'
    body:
      encoding: UTF-8
      string: '{"contacts":[{"id":11942380,"updated_at":"2014-06-12T10:16:36Z","source":"fsa","name":"Derek
        Jones","source_slug":"729794","canonical_slug":"derek-jones","website":null,"source_id":729794,"last_fetched":"2014-06-12T10:16:33Z","source_created_at":null,"source_updated_at":null,"contact_type":"person","source_namespace":"indiv","page_link":"http://www.fsa.gov.uk/register/indivBasicDetails.do?sid=729794","api_link":"/indivBasicDetails.do?sid=729794","description":null,"name_is_common_phrase":false,"levenshtein_distance":0,"source_priority":6,"identities":[{"created_at":"2013-12-12T07:29:07Z","description":"Derek
        Jones","service":"avatar","slug":null,"updated_at":"2013-12-12T07:29:07Z","url":null},{"created_at":"2013-12-12T07:29:07Z","description":"Derek
        Jones","service":"fsa","slug":"dxj01321","updated_at":"2014-06-07T14:29:44Z","url":"http://www.fsa.gov.uk/register//indivbasicdetails.do?sid=729794"}],"relationships":[],"funding_rounds":[],"links":[]},{"id":11942381,"updated_at":"2014-06-12T10:16:28Z","source":"fsa","name":"Derek
        Jones"[...]
