---
http_interactions:
- request:
    method: post
    uri: http://public.xenapto.com/text/find_contacts.json
    body:
      encoding: US-ASCII
      string: text=lorem%20ipsum%20john%20smith%20dolor%20sit%20amet
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9251905d056c3fe9e82e21beca343642"'
    body:
      encoding: UTF-8
      string: '{"contacts":["lorem-ipsum","john-smith"],"mentions":[],"emails":[],"version":"v1"}'
  recorded_at: Thu, 12 Jun 2014 10:59:29 GMT
recorded_with: VCR 2.9.2
