---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/link/http%253A%252F%252Fwww.iana.org%252Fnumbers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1f393c600ab5ec1775f8dd15075384a5"'
    body:
      encoding: UTF-8
      string: '{"id":1703498,"source":"API","source_contact_id":0,"url":"http%3a%2f%2fwww.iana.org/numbers","domain":"iana.org","title":null,"news_source":"Internet
        Assigned Numbers Authority","summary":null,"created_at":"2014-06-08T10:24:59Z","updated_at":"2014-06-08T10:24:59Z","publication_date":null,"version":"v1"}'
  recorded_at: Thu, 12 Jun 2014 10:59:29 GMT
recorded_with: VCR 2.9.2
