---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/name/Derek%20Jones%20III.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"35cd248dfd59f6150cb71b1fbc24e9f1"'
    body:
      encoding: UTF-8
      string: '{"contacts":[{"id":11942383,"updated_at":"2014-06-12T10:16:15Z","source":"fsa","name":"Derek
        Jones","source_slug":"282759","canonical_slug":"derek-jones","website":null,"source_id":282759,"last_fetched":"2014-06-12T10:16:12Z","source_created_at":null,"source_updated_at":null,"contact_type":"person","source_namespace":"indiv","page_link":"http://www.fsa.gov.uk/register/indivBasicDetails.do?sid=282759","api_link":"/indivBasicDetails.do?sid=282759","description":null,"name_is_common_phrase":false,"levenshtein_distance":0,"source_priority":6,"identities":[{"description":"Derek
        Jones","service":"fsa","slug":"dxj00029","updated_at":"2014-06-07T14:29:30Z","url":"http://www.fsa.gov.uk/register//indivbasicdetails.do?sid=282759"},{"description":"Derek
        Jones","service":"avatar","slug":null,"updated_at":"2013-12-12T07:28:47Z","url":null}],"relationships":[],"funding_rounds":[],"links":[]},{"id":11942385,"updated_at":"2014-06-12T10:16:19Z","source":"fsa","name":"Derek
        John Jones","source_slug":"360573","canonical_slug":"derek-jones","website":null,"source_id":360573,"last_fetched":"2014-06-12T10:16:17Z","source_created_at":null,"source_updated_at":null,"contact_type":"person","source_namespace":"indiv","page_link":"http://www.fsa.gov.uk/register/indivBasicDetails.do?sid=360573","api_link":"/indivBasicDetails.do?sid=360573","description":null,"name_is_common_phrase":fal[...]
- request:
    method: get
    uri: http://public.xenapto.com/name/XXXXX+%253F.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"50cd64a593ffbd41a6f90d88fafde183"'
    body:
      encoding: UTF-8
      string: '{"contacts":[],"name":"Not found","slug":"xxxxx-plus","count":0,"version":"v1"}'
  recorded_at: Wed, 13 Aug 2014 16:33:29 GMT
- request:
    method: get
    uri: http://public.xenapto.com/name/XXXXXXXXXX+%253F.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"253398129d504e94f0911f40498f71b1"'
    body:
      encoding: UTF-8
      string: '{"contacts":[],"name":"Not found","slug":"xxxxxxxxxx-plus","count":0,"version":"v1"}'
  recorded_at: Wed, 13 Aug 2014 16:35:55 GMT
- request:
    method: get
    uri: http://public.xenapto.com/name/Derek+Jones+III.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5e7d9fa614dc656a150e4fdca993850e"'
    body:
      encoding: UTF-8
      string: '{"contacts":[],"name":"Not found","slug":"derek-plus-jones-plus-iii","count":0,"version":"v1"}'
  recorded_at: Wed, 13 Aug 2014 16:35:55 GMT
recorded_with: VCR 2.9.2
