---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/api/v3/contacts/from_domain.json?domain=anthemis.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"759b5d9178f77e2a2d0fa75ee4897054"
    body:
      encoding: UTF-8
      string: '{"contacts":[{"name":"Anthemis Group","contact_type":"organization","slug":"anthemis-group"}],"domain":"anthemis.com","contact_type":"organization","version":"v3"}'
  recorded_at: Thu, 14 Apr 2016 11:16:30 GMT
- request:
    method: get
    uri: http://public.xenapto.com/api/v3/contacts/from_domain.json?contact_type=person&domain=anthemis.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a74f008fdc1690a80e0adce9f1c52034"
    body:
      encoding: UTF-8
      string: '{"contacts":[{"name":"Sean Park","contact_type":"person","slug":"sean-park"}],"domain":"anthemis.com","contact_type":"person","version":"v3"}'
  recorded_at: Thu, 14 Apr 2016 11:19:36 GMT
- request:
    method: get
    uri: http://public.xenapto.com/api/v3/contacts/from_domain.json?contact_type=all&domain=anthemis.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"333d258d54d925cc51c6a0de5510466c"
    body:
      encoding: UTF-8
      string: '{"contacts":[{"name":"Anthemis Group","contact_type":"organization","slug":"anthemis-group"},{"name":"Sean
        Park","contact_type":"person","slug":"sean-park"}],"domain":"anthemis.com","contact_type":"all","version":"v3"}'
  recorded_at: Thu, 14 Apr 2016 11:20:31 GMT
recorded_with: VCR 2.9.3
