---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/api/v3/identities/for_url.json?url=http://xenapto.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3370733a5b38a02339926cc6baf1dc5e"
    body:
      encoding: UTF-8
      string: '{"identities":[{"name_slug":"xenapto","contact_type":"organization","service":"url","identity_slug":"http://xenapto.com","description":"Home
        page"},{"name_slug":"xenapto-administrator","contact_type":"person","service":"url","identity_slug":"http://xenapto.com","description":null}],"url":"http://xenapto.com","stale":false,"version":"v3"}'
  recorded_at: Thu, 04 Aug 2016 12:51:37 GMT
recorded_with: VCR 2.9.3
