---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/links/info.json?url=http://iana.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2707cf5ee98546925da299413db23e80"'
    body:
      encoding: UTF-8
      string: '{"url":"http://iana.org","domain":"iana.org","title":"Internet Assigned
        Numbers Authority","news_source":"Internet Assigned Numbers Authority","summary":null,"version":"v2"}'
  recorded_at: Thu, 19 Jun 2014 12:06:08 GMT
recorded_with: VCR 2.9.2
