---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/links/latest.json?since=2014-07-28%2012:09:48%20%2B0100&timeout=1800
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bd493c5188507c2050a43a5616af5661"'
    body:
      encoding: UTF-8
      string: '[{"contact_type":"organization","created_at":"2014-07-29T09:56:11Z","domain":"techcrunch.com","id":3939336,"news_source":"TechCrunch","publication_date":"2014-07-29T09:56:07Z","slug":"pan-asia","summary":null,"title":"Practically
        Green Raises $3M To Help Companies Manage Sustainability Programs","updated_at":"2014-07-29T09:56:11Z","url":"http://techcrunch.com/2014/01/30/practically-green-series-a/"},{"contact_type":"organization","created_at":"2014-07-29T09:07:56Z","domain":"venturebeat.com","id":3939335,"news_source":"VentureBeat","publication_date":"2007-12-05T08:33:03Z","slug":"yugma","summary":"CrossLoop,
        a company that lets two people easily share their desktops while working in
        different locations, has raised $3 million in a first round of capital.","title":"CrossLoop
        \u2014 free desktop\u00a0shari[...]
