---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/links/info.json?url=http://iana.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2707cf5ee98546925da299413db23e80"'
    body:
      encoding: UTF-8
      string: '{"url":"http://iana.org","domain":"iana.org","title":"Internet Assigned
        Numbers Authority","news_source":"Internet Assigned Numbers Authority","summary":null,"version":"v2"}'
  recorded_at: Thu, 19 Jun 2014 12:06:08 GMT
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/links/search.json?url=http://iana.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"37c7690f162d7e84536d18edf2df448e"'
    body:
      encoding: UTF-8
      string: '{"contacts":[],"mentions":[],"emails":[],"url":"http://iana.org","domain":"iana.org","title":"Internet
        Assigned Numbers Authority","news_source":"Internet Assigned Numbers Authority","summary":null,"version":"v2"}'
  recorded_at: Thu, 19 Jun 2014 12:24:59 GMT
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/info.json?url=http://iana.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <hash>
          <status>404</status>
          <error>Not Found</error>
        </hash>
  recorded_at: Fri, 15 May 2015 10:32:21 GMT
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/search.json?url=http://iana.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <hash>
          <status>404</status>
          <error>Not Found</error>
        </hash>
  recorded_at: Fri, 15 May 2015 10:32:22 GMT
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/links/search.json?timeout=600&url=http://iana.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f92b5c3e45ff95137379acb2af9d325"
    body:
      encoding: UTF-8
      string: '{"contacts":["int","arpa","global-ip","_______","apply","an"],"mentions":[],"emails":[],"id":null,"url":"http://www.iana.org/","domain":"iana.org","title":"Internet
        Assigned Numbers Authority","news_source":"Internet Assigned Numbers Authority","summary":null,"version":"v2"}'
  recorded_at: Sat, 16 May 2015 16:53:17 GMT
recorded_with: VCR 2.9.3
