---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/search.json?name=Derek%20Jones%20III
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you were looking for doesn't exist (404)</title>
          <style type="text/css">
            body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
            div.dialog {
              width: 25em;
              padding: 0 4em;
              margin: 4em auto 0 auto;
              border: 1px solid #ccc;
              border-right-color: #999;
              border-bottom-color: #999;
            }
            h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
          </style>
        </head>

        <body>
          <!-- This file lives in public/404.html -->
          <div class="dialog">
            <h1>The page you were looking for doesn't exist.</h1>
            <p>You may have mistyped the address or the page may have moved.</p>
          </div>
        </body>
        </html>
  recorded_at: Thu, 12 Jun 2014 10:59:45 GMT
recorded_with: VCR 2.9.2
