---
http_interactions:
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/contacts/from.json?slug=derek-jones&source=angel_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f242c0a293365c9aaaa79c1754b8d7ea"'
    body:
      encoding: UTF-8
      string: '{"version":"v2","source":"angel_list","slug":"derek-jones","data":[{"api_link":"/users/165075","canonical_slug":"derek-jones","contact_type":"person","description":null,"last_fetched":"2015-01-30T20:05:46Z","name":"Derek
        Thomas Edward Jones","page_link":"/derek-jones","source_created_at":null,"source_id":165075,"source_namespace":"users","source_slug":"derek-jones","source_updated_at":null,"website":null,"source_links":[],"source_funding_rounds":[],"source_relationships":[],"source_identities":[{"description":null,"service":"angel_list","slug":"derek-jones","url":"https://angel.co/derek-jones"},{"description":null,"service":"avatar","slug":"https://d1qb2nb5cznatu.cloudfront.net/users/165075-medium_jpg?1405505118","url":"https://d1qb2nb5cznatu.cloudfront.net/users/165075-medium_jpg?1405505118"},{"description":null,"service":"linked_in","slug":"pub/derek-jones/15/b2/55b","url":"http://www.linkedin.com/pub/derek-jones/15/b2/55b"},{"description":null,"service":"domain","slug":"dereknakano.com","url":"http://www.dereknakano.com"},{"description":null,"service":"url","slug":"http://www.dereknakano.com","url":"http://www.dereknakano.com"}],"counterparty_relationships":[]}]}'
  recorded_at: Fri, 06 Feb 2015 17:38:54 GMT
- request:
    method: get
    uri: http://public.xenapto.com/api/v2/from.json?slug=derek-jones&source=angel_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <hash>
          <status>404</status>
          <error>Not Found</error>
        </hash>
  recorded_at: Fri, 15 May 2015 10:32:25 GMT
recorded_with: VCR 2.9.3
