---
http_interactions:
- request:
    method: post
    uri: http://public.xenapto.com/api/v3/text/search.json?input_format=html&timeout=600
    body:
      encoding: US-ASCII
      string: text=%20%20%20%20%20%20%3Cspan%20style%3D%22font-family%3A%20-webkit-system-font%2C%20Helvetica%20Neue%2C%20Helvetica%2C%20sans-serif%3B%20color%3Argba(0%2C%200%2C%200%2C%201.0)%3B%22%0A%20%20%20%20%20%20class%3D%22%22%3E%3Cb%20class%3D%22%22%3EFrom%3A%20%3C%2Fb%3E%3C%2Fspan%3E%0A%20%20%20%20%20%20%3Cspan%20style%3D%22font-family%3A%20-webkit-system-font%2C%20Helvetica%20Neue%2C%20Helvetica%2C%20sans-serif%3B%22%0A%20%20%20%20%20%20class%3D%22%22%3EMax%20Williams%3Ca%20href%3D%22mailto%3Amax.williams%40example.com%22%0A%20%20%20%20%20%20class%3D%22%22%3Emax.williams%40example.com%3C%2Fa%3E%26gt%3B%3Cbr%20class%3D%22%22%3E%3C%2Fspan%3E%0A%20%20%20%20%20%20%3Cspan%3E%40maxwilliams%3C%2Fspan%3E%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"884828ad4edaa8801971ebd6f8b18ab1"
    body:
      encoding: UTF-8
      string: '{"contacts":[{"name":"Max Williams","contact_type":"person","slug":"max-williams","in_title":null}],"mentions":["maxwilliams"],"emails":["max.williams@example.com"],"version":"v3"}'
  recorded_at: Fri, 05 Jun 2015 12:20:46 GMT
- request:
    method: post
    uri: http://public.xenapto.com/api/v3/text/search.json?timeout=600
    body:
      encoding: US-ASCII
      string: text=%20%20%20%20%20%20%3Cspan%20style%3D%22font-family%3A%20-webkit-system-font%2C%20Helvetica%20Neue%2C%20Helvetica%2C%20sans-serif%3B%20color%3Argba(0%2C%200%2C%200%2C%201.0)%3B%22%0A%20%20%20%20%20%20class%3D%22%22%3E%3Cb%20class%3D%22%22%3EFrom%3A%20%3C%2Fb%3E%3C%2Fspan%3E%0A%20%20%20%20%20%20%3Cspan%20style%3D%22font-family%3A%20-webkit-system-font%2C%20Helvetica%20Neue%2C%20Helvetica%2C%20sans-serif%3B%22%0A%20%20%20%20%20%20class%3D%22%22%3EMax%20Williams%3Ca%20href%3D%22mailto%3Amax.williams%40example.com%22%0A%20%20%20%20%20%20class%3D%22%22%3Emax.williams%40example.com%3C%2Fa%3E%26gt%3B%3Cbr%20class%3D%22%22%3E%3C%2Fspan%3E%0A%20%20%20%20%20%20%3Cspan%3E%40maxwilliams%3C%2Fspan%3E%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3dc4842a6efae6fc7ebfd855e27fe1c7"
    body:
      encoding: UTF-8
      string: '{"contacts":[{"name":"Neue","contact_type":"organization","slug":"neue","in_title":null}],"mentions":["maxwilliams"],"emails":["max.williams@example.com"],"version":"v3"}'
  recorded_at: Fri, 05 Jun 2015 12:20:48 GMT
- request:
    method: post
    uri: http://public.xenapto.com/api/v3/text/search.json?input_format=html&timeout=600&title=Re:%20Sherry%20Coutu
    body:
      encoding: US-ASCII
      string: text=%20%20%20%20%20%20%3Cspan%20style%3D%22font-family%3A%20-webkit-system-font%2C%20Helvetica%20Neue%2C%20Helvetica%2C%20sans-serif%3B%20color%3Argba(0%2C%200%2C%200%2C%201.0)%3B%22%0A%20%20%20%20%20%20class%3D%22%22%3E%3Cb%20class%3D%22%22%3EFrom%3A%20%3C%2Fb%3E%3C%2Fspan%3E%0A%20%20%20%20%20%20%3Cspan%[...]
